os: windows
language: c++
env:
  - MSBUILD_PATH="/C/Program Files (x86)/Microsoft Visual Studio/2017/BuildTools/MSBuild/15.0/Bin"

script:
  - export PATH=$MSBUILD_PATH:$PATH
  - cmd.exe /c Bash ./script.sh
  - ./build.bat




